pymacaron
pymacaron-async
pymacaron-dynamodb
elasticsearch==6.3.1
Flask-Babel==0.11.1
Babel==2.3.4
Flask-Compress==1.4.0
requests-aws4auth==0.9
Unidecode==0.4.19
boto
boto3
beautifulsoup4==4.5.1
lxml==4.6.2
Pillow==3.4.2
s3imageresizer
schedule
